In [2]:
import pandas as pd 

df = pd.read_excel("dataset.xlsx")
df

,Estabelecimento,quantidade,Descrição,Marca,Modelo,Capacidade,Bem origem,Valor de Custo Unitario,Depreciação,Residual,SOMA,CUSTO ORIGEM,DEP ORIGEM,RES ORIGEM
0,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995,NaN,NaN,12594.0,12594.0,12594.0,0.0
1,JUNIOR,2,MESA LP VALENCIA TEAK NEVAMAR 102X102 CPVC CAFE,NaN,NaN,NaN,MOB00299,2317,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
dataitem = df.iloc[:, 0:8]
dataitem

,Estabelecimento,quantidade,Descrição,Marca,Modelo,Capacidade,Bem origem,Valor de Custo Unitario
0,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995
1,JUNIOR,2,MESA LP VALENCIA TEAK NEVAMAR 102X102 CPVC CAFE,NaN,NaN,NaN,MOB00299,2317

In [4]:
dataOrigem = df.iloc[0:1,11:]
dataOrigem

   CUSTO ORIGEM  DEP ORIGEM  RES ORIGEM
0       12594.0     12594.0         0.0

In [5]:
newdf = pd.DataFrame(columns=dataitem.columns)

for i, iter in dataitem.iterrows():
    quantity = int(iter["quantidade"])
    for i in range(quantity):
        newdf.loc[len(newdf)] = iter
newdf

,Estabelecimento,quantidade,Descrição,Marca,Modelo,Capacidade,Bem origem,Valor de Custo Unitario
0,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995
1,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995
2,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995
3,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995
4,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995
5,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995
6,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995
7,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995
8,JUNIOR,2,MESA LP VALENCIA TEAK NEVAMAR 102X102 CPVC CAFE,NaN,NaN,NaN,MOB00299,2317
9,JUNIOR,2,MESA LP VALENCIA TEAK NEVAMAR 102X102 CPVC CAFE,NaN,NaN,NaN,MOB00299,2317

In [6]:
newdf["Valor de Custo Unitario"].sum()

12594

In [7]:

porcents = []
soma = newdf["Valor de Custo Unitario"].sum()

for i, iter in newdf.iterrows():
    valor = iter["Valor de Custo Unitario"] / soma
    valor = float(valor)
    porcents.append(valor)

newdf["porcents"] = porcents
newdf

,Estabelecimento,quantidade,Descrição,Marca,Modelo,Capacidade,Bem origem,Valor de Custo Unitario,porcents
0,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995,0.079006
1,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995,0.079006
2,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995,0.079006
3,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995,0.079006
4,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995,0.079006
5,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995,0.079006
6,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995,0.079006
7,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995,0.079006
8,JUNIOR,2,MESA LP VALENCIA TEAK NEVAMAR 102X102 CPVC CAFE,NaN,NaN,NaN,MOB00299,2317,0.183976
9,JUNIOR,2,MESA LP VALENCIA TEAK NEVAMAR 102X102 CPVC CAFE,NaN,NaN,NaN,MOB00299,2317,0.183976

In [8]:
CustoNotaTranform = []
depreciationNotaTranform = []
residualNotaTranform = []


for i, iter in newdf.iterrows():
   valuecoast = dataOrigem["CUSTO ORIGEM"][0] * iter["porcents"] 
   valueDep = dataOrigem["DEP ORIGEM"][0] * iter["porcents"]

   CustoNotaTranform.append(round(valuecoast, 2))
   depreciationNotaTranform.append(round(valueDep, 2))
   residualNotaTranform.append(round(valuecoast - valueDep, 2))

newdf["CUSTO NOTA"] = CustoNotaTranform
newdf["DEPRECIAÇÃO NOTA"] = depreciationNotaTranform
newdf["RESIDUAL NOTA"] = residualNotaTranform

In [9]:
difCusto = float(newdf["CUSTO NOTA"].sum() - dataOrigem["CUSTO ORIGEM"])
difdeprec = float(newdf["DEPRECIAÇÃO NOTA"].sum() - dataOrigem["DEP ORIGEM"])
difresidual = float(newdf["RESIDUAL NOTA"].sum() - dataOrigem["RES ORIGEM"])

newdf["DEPRECIAÇÃO NOTA"].sum()
index = len(newdf) - 1

newdf["CUSTO NOTA"][index] = newdf["CUSTO NOTA"][index] - difCusto
newdf["DEPRECIAÇÃO NOTA"][index] = newdf["DEPRECIAÇÃO NOTA"][index] - difdeprec
newdf["RESIDUAL NOTA"][index] = newdf["RESIDUAL NOTA"][index] - difresidual



newdf

C:\Users\gusta\AppData\Local\Temp\ipykernel_30300\2973859452.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf["CUSTO NOTA"][index] = newdf["CUSTO NOTA"][index] - difCusto
C:\Users\gusta\AppData\Local\Temp\ipykernel_30300\2973859452.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf["DEPRECIAÇÃO NOTA"][index] = newdf["DEPRECIAÇÃO NOTA"][index] - difdeprec
C:\Users\gusta\AppData\Local\Temp\ipykernel_30300\2973859452.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf["RESIDUAL NOTA"][index] = newdf["RESIDUAL NOTA"][index] - difresidual

,Estabelecimento,quantidade,Descrição,Marca,Modelo,Capacidade,Bem origem,Valor de Custo Unitario,porcents,CUSTO NOTA,DEPRECIAÇÃO NOTA,RESIDUAL NOTA
0,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995,0.079006,995.0,995.0,0.0
1,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995,0.079006,995.0,995.0,0.0
2,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995,0.079006,995.0,995.0,0.0
3,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995,0.079006,995.0,995.0,0.0
4,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995,0.079006,995.0,995.0,0.0
5,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995,0.079006,995.0,995.0,0.0
6,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995,0.079006,995.0,995.0,0.0
7,JUNIOR,8,SILLA MADERA ENCHAPADA MAPLE ESTRUCTURACROMO,NaN,NaN,NaN,MOB00299,995,0.079006,995.0,995.0,0.0
8,JUNIOR,2,MESA LP VALENCIA TEAK NEVAMAR 102X102 CPVC CAFE,NaN,NaN,NaN,MOB00299,2317,0.183976,2317.0,2317.0,0.0
9,JUNIOR,2,MESA LP VALENCIA TEAK NEVAMAR 102X102 CPVC CAFE,NaN,NaN,NaN,MOB00299,2317,0.183976,2317.0,2317.0,0.0

In [10]:
note = str(newdf["Bem origem "][0])

newdf.to_excel(f"subir-{note}.xlsx", index=False)